##########################################################################
### General environment settings
##########################################################################

NUmThreads=8;
NumNeighbors=10;
extendProfile=false;
Time_interval=604800;    #Week size in second
contextSize=1;
TrainingPercentage=0.7;
methods="LFA LRA LCCC ACT-R";
recommendationPercentage=0.1;
forgottenRecoveryMethod="ContextAware ObviousRecommendation Remembrall TemporalDistance TradicionalRS Random";
